{% extends 'base.html' %}

{% block body %}
  <h1 class="text-center">{{ movie.title }}</h1>
  <hr>
  <h3>{{ movie.movie_name }}</h3>
  <hr>
  <p>{{ movie.content }}</p>
  <!-- <a href="{% url 'movies:update' movie.pk %}">수정</a> -->
  <div class="float-end">
    <div class="d-flex align-items-end">
      <form action="{% url 'movies:update' movie.pk %}">
        <button type="submit" class="btn btn-outline-dark mx-2 fw-bold">수정</button>
      </form>
      <form action="{% url 'movies:delete' movie.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-dark mx-2 fw-bold">삭제</button>
      </form>
    </div>
  </div>

  

{% endblock body %}
