{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'movies:main' %}"><img src="{% static 'imgs/logo.jpg'%}" alt="로고이미지" style="width: 7rem;"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-selected="True" href="{% url 'movies:index' %}">목록</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-selected="False" href="{% url 'movies:create' %}">작성</a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <div class="d-flex">
      <aside class="bg-dark pt-3" style="width:10rem; height:100vh;">
        <nav class="nav flex-column text-center">
          <a onclick="" class="nav-link text-light" aria-selected="True" href="{% url 'movies:index' %}">영화 목록</a>
          <a class="nav-link text-light" aria-selected="False" href="{% url 'movies:create' %}">영화 작성</a>
        </nav>
      </aside>
      <content class="container mt-4">
      {% block body %}{% endblock body%}
      </content>
    </div>
    {% bootstrap_javascript %}
  </body>

</html>